hr{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.entry-title{
	margin: 20px;
    padding-left: 30px;
}
body {
  background: #ffffff;
  color: #898989;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.title {
	margin : 10px;
}

.btnBox {
	margin : 15px;
	text-align : center;
	float : right;
}

.btnSave {
	width : 100%;
	float : right;
	text-align : right;
}
 
.tableBox {
	margin : 15px;
}
