<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO에서 어떻게 이 mapper를 부를 것인지 namespace 정해줌 -->

<!-- id와 name의 데이터가나옴 -->
<mapper namespace="List">
	<select id="List"
		resultType="kr.co.metanet.dto.EmployeeDTO">
		select e.emp_code, e.name, o.org_name, o.org_div, e.emp_rank, e.join_date, v.acq_days_num, v.use_days_num, v.res_days_num
		from
		tb_employee e, tb_organization o, tb_vacation_annual_management v
		where e.org_code = o.org_code
		AND e.emp_code = v.emp_code
		AND v.year = '2019'
		<if
			test="searchType=='emp_code' and keyword != null and keyword != '' ">
			AND e.emp_code like '%' || #{keyword} || '%'
		</if>
		<if
			test="searchType=='name' and keyword != null and keyword != '' ">
			AND e.name like '%' || #{keyword} || '%'
		</if>
		order by e.emp_code
	</select>	
</mapper>
