body {
  background: #ffffff;
  color: #898989;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.title {
	margin : 20px;
	padding-left : 30px;
	justify-content : space-between;
	float : right;
	display : flex;
}
.btnBox {
	margin : 15px;
	text-align : center;
	float : right;
}

.tableBox {
	margin : 15px;
}