.top-menu {
	width: 100%;
}

.user-info{
	margin-top: 3%;
	margin-bottom: 3%;
}


.form-group h3{
	margin : 20px;
	padding-left : 30px;
	justify-content : space-between;
	float : left;
	display : flex;
}

.btn-apply {
	padding: 1%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: right;
	border-radius: 5px;
	border: none;
	background-color: #e9ecef;
}

.table th {
	text-align: center;
}
.tablebox{
	margin:15px;
}